[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "card"]
	path = card
	url = https://github.com/shah-in-boots/card
[submodule "rmdl"]
	path = rmdl
	url = https://github.com/shah-in-boots/rmdl
